services:
  app:
    container_name: app
    image: app
    build: app_rs
    restart: always
  nginx:
    container_name: nginx
    image: nginx
    build: nginx
    restart: always
    ports:
      - "80:80"
    depends_on:
      - app
